
<div class="container">

      <!-- <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>-->
    <div class="alert alert-warning" *ngIf="todoForm.dirty && usernamee.invalid">Enter Username</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && passwordd.invalid">Enter Password</div>
    <form (ngSubmit)="!todoForm.invalid && handleJWTAuthLogin()" #todoForm="ngForm">
        <fieldset class="form-group">
          <label >Username</label>
          <input type="text" class="form-control" name="username"  #usernamee="ngModel"
          placeholder="Enter username" [(ngModel)]="username" required="required" minlength="1">
    
        </fieldset>
        <fieldset class="form-group">
          <label >Password</label>
          <input type="password" class="form-control" name="password"  #passwordd="ngModel"
          placeholder="Enter Password" [(ngModel)]="password" required="required" minlength="1">
        </fieldset>
       
        <button type="submit" class="btn btn-primary" >Login</button>
      </form>
    
 <small class="text-danger" *ngIf='invalidLogin'> {{errorMessage}}</small> 
    

</div>










